body {
    
}

h1 {
    text-align: center;
}

.principal {
    background: #cccccc;
    padding: 30px;
}

p{
    text-align: center;
}

em p{
    color: red;
}

.beneficios {
    background-color: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}

.imagembeneficio {
    width: 50%;
}

u1 {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}